.favitems
{
    font-size:30px;
    text-align: center;
    color: gray;
    font-family: cursive;
    margin:80px 0px 20px 0px;
}
/* Styling for Star-Rating*/
.star-rating {
    
    font-size: 20px;
    color: gold; /* Default star color */
  }
  
  .star {
    cursor: pointer;
  }
  
  .star.active {
    color: darkorange; /* Color for highlighted stars */
  }
  
  